#rando .header {
    position: relative;
}

#rando .header img:nth-of-type(1) {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 30px;
    width: 30px;
}

#rando .header img:nth-of-type(2) {
    width: 100%;
    height: auto;
}

#rando .content {
    position: relative;
    padding: 10px 25px;
}

#rando .content img {
    position: absolute;
    right: 30px;
    top: 30px;
    height: 20px;
    width: 20px;
}

.separator {
    border-bottom: 1px solid #bbbbbb;
}

.difficulty {
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
}

.difficulty.Facile {
    background-color: #499A4C;
}

.difficulty.Moyen {
    background-color: #D98119;
}

.difficulty.Difficile {
    background-color: #DC2B2B;
}

.content .content-informations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}